/*
filename: style.css
author: [your name]
created: 22/03/2024
last modified: [enter date]
description: [html files it refers to (if known)]
*/
* {font-family: sans-serif;}

/* start of nav */
.main-nav {
    position: sticky;
    top: 0;
}
.main-nav li {
    float:left
}
.main-nav li a {
    display:block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #fff;
    background-color:#CAD593;
}
.main-nav li a.active {
    background-color: #A1C349;
    color:#111
}
.main-nav li a:hover:not(.active){
    background-color: rgb(196, 210, 198);
}
.main-nav li img {
    padding-right: 5px;
}
/* end of nav */

/* start of footer */
.footer {
    background-color: #EFF0F1;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}
.footer-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.footer a {
    color: #3E4854;
    text-decoration: none;
    margin: 0 15px;
}

.footer a:hover {
    text-decoration: underline;
}
.footer-left,.footer-right {
    flex-grow: 1;
}  
/* end of footer */
